*{
    margin: 0px;
    border: 0px;
    background-color: #FAFBFC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner{
    background-color: #FFFFFF;
    height: 100px;

}

strong{
    background-color: #02ff02;
}

.logo{
    margin-top: 10px;
    margin-left: 20px;
    background-color: #FFFFFF;
    vertical-align:bottom ;
}

.title{
    font-size: 40px;
    background-color: #FFFFFF;
}

/* INIZIO LISTA */

.button{
    background-color: #ff0000;
    margin: auto;
   height: 80px;
   width: 1000px;
   border-radius: 5px;
}

.task{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: aqua;
}

.section{
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
}

.margine{
    background-color: #FAFBFC;
    margin: auto;
   height: 2px;
   width: 1000px;
   border-radius: 5px;
}

.list{
    background-color: #02ff02;
    border-top: 10px;
    margin: auto;
   height: 900px;
   width: 1000px;
   border-radius: 5px;
}

.list-items{
    background-color: #02ff02;
    list-style: none;

}

li{
    background-color: #02ff02;

}